packages
*.ncrunchproject
*.ncrunchsolution.user
**/NcrunchTemp/
_NCrunch_*/
.vs/
*.suo
*.jfm
**/obj/
**/bin/
**/*proj.user
*.pubxml
*.pubxml.user
**/*.dbmdl
Web/_build/main.js
**/Properties/PublishProfiles/*.*
Web/node_modules
Web/Assets
**/*.Debug.config
**/Local.config
**/appsettings.Development.json
*.user
.env.dev